body {
    margin: 0 auto;
    font-family: "Roboto", verdana, sans-serif;
    font-size: 100%;
}


html, body {
  height: 100%;
}

#root, .dx-viewport {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side-nav-toolbar--top {
    flex: 0 0 auto;
}

.content {
  flex: 1 0 auto;
}

.main_page_cover {
  height: 1000px;
  background-image: url("~/images/background.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footer {
    flex: 0 0 auto;
}


.content .container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.login-form {
    width: 90%;
    margin: 0 auto;
    text-align: left;

    h1 {
        font-size: 150%;
        font-weight: 400;
        text-align: center;
    }

    .dx-field-label {
        width: 30%;
    }

    .dx-field-value-static,
    .dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button) {
        width: 65%;
    }

    .dx-field:nth-of-type(3) {
        text-align: center;
    }
}

.abount_txt{
  width: 35%;
  padding-left: 30%;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: justify;
  font-family: 'Open Sans',Helvetica Neue,Arial,Sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

/* -----------------------------------------------------------------------------------------------*/
/* -------------------                Employee card          -------------------------------------*/
/* -----------------------------------------------------------------------------------------------*/

.no-avatar {
  height: 150px;
  width: 150px;
  margin: 20px;
  border: 1px solid #d2d3d5;
  background-image: url("static/profile-no-photo-gray.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.employee-card{
  width: 40%;
  margin-left: 30%;
  margin-top: 100px;
  padding: 20px;
}

.employee-about{
  width: 100%;
  text-align: justify;
  float: bottom;
}

.employee-avatar{
  width: 30%;
  float:left; /* add this */
}

.employee-info{
  overflow: hidden; /* if you don't want #second to wrap below #first */
  height: 200px;
}

.employee-fullname{
  font-family: 'Roboto Condensed',Arial Narrow,Arial,Sans-serif;
  text-rendering: optimizelegibility;
  color: #02669d;
  font-size: 32px;
  letter-spacing: 6.4px;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  width: 500px;
}

.employee-position{
  font-family: "Open Sans", Helvetica Neue, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}

.employee-info ul{
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  text-align: left;
  margin: 15px;
}

.employee-title .employee-degree{
  font-family: "Open Sans", Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.employee-presentation{
  background: lightgrey;
}
